*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#main{
    width: 100%;
    height: 100%;
}


/* Heading styling of the page  */
#heading {
    height: 70%;
    width: 100%;
}
#heading > h1 {
    font-size: 125px;
    line-height: 120px;
    padding: 30px;
    padding-left: 40px;
    letter-spacing: 2px;
}
.btm-head{
    margin-left: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 30px;
    font-weight: 600;
}
#btn-head  {
    width: 13%; height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
}
#btn3 {
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 55px;
    height: 45px;
    font-size: 20px;
}
#menu {
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 90px;
     height: 45px;
     font-size: 20px;
}



/* Main content of the page */

     /* Model image  */
#Divimg {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#Heroimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* About me Section */

.Abtme-container {
    margin-top: 2%;
    margin-bottom: 100px;
    height: 90%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
    padding: 50px;
}
#abtme {
    padding-bottom: 40px;
    width: 60%;
    font-size: 70px;
    font-weight: 600;
}
#media {
    width: 40%;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 30px;
    position: relative;
    border-left: 2px solid black ;
}
#media div {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: black;
    position: absolute;
    bottom: 5%;
}
/* Social media icons  */
#insta {
    right: 74% ;
    color: white;
    padding: 10px;
    font-size: 30px;
}
#twitter {
    right: 50%;
    color: white;
    padding: 10px;
    font-size: 30px;
}
#whatsapp {
    right: 62%;
    color: white;
    padding: 9px;
    font-size: 30px;
}


/* working section and related things of the page */

#whatIDo {
    font-size: 50px;
    font-weight: 200;

}
/* Icon */
#whatIDo + i{
    font-size: 50px;
    font-weight: 200;
}
#WorkDiv h1 + p {
    margin-top: 20px;
}
#WorkDiv{
    height: 80%;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
}
#leftDiv{
    width: 40%;
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 3px solid black;
}
#RightDiv {
    width: 60%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
#uppercontainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
#lowercontainer{
    height: 50%; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper {
    height: 60%;
    width: 350px;
    /* margin: 10px; */
    /* padding: 20px; */
    /* padding-bottom: 40px; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rightUpper{
    border-left: 2px solid black;
}
.lower {
    height: 60%;
    width: 350px;
    /* margin: 10px; */
    /* padding: 20px; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rightlower{
    border-left: 2px solid black;
}


/* Heroine image after the work section  */
.fourWorks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 70px;
    border: 2px solid black;
}

#heroineDiv{
    margin-top: 1px;
    height: 80%;
    width: 100%;
    background-color: red;
    overflow: hidden;
}

#heroienImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}




/* Camera Container Section  */
#CameraContainer{
    height: 40%;
    width: 100%;
    display: flex;
}
#CameraDivLeft{
    height: 100%;
    width: 75%;
    display: flex;
    font-size: 70px;
    align-items: center;
    padding-left: 60px;
}
#CameraDivRight {
    height:100% ;
    width: 55%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
#CameraDivRight2 {
    margin-top: 20px;
    display: flex;
}
#CameraRight1 h3 {
    opacity: 0.6;
    font-size: 25px;
}
.DigitalDesign {
    background-color: black;
    color: white;
    border-radius: 13px;
    font-size: 15px;
    padding: 2px 5px ;
    margin-right: 10px;
}
.year2023 {
    background-color: black;
    color: white;
    width: 50px;
    border-radius: 13px;
    font-size: 15px;
    padding: 2px 2px ;
}



/* Third image on the page */
#thirdimgcontainer {
    height: 85%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
#thirdimg  {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




/* Noise section of the page  */

#NoiseContainer{
    height: 35%;
    width: 100%;
    display: flex;
}
#NoiseDivLeft{
    height: 100%;
    width: 75%;
    display: flex;
    font-size: 70px;
    align-items: center;
    padding-left: 100px;
}
#NoiseDivRight {
    height:100% ;
    width: 55%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
#NoiseDivRight2 {
    margin-top: 20px;
    display: flex;
}
#NoiseRight1 h3 {
    opacity: 0.6;
    font-size: 25px;
}
.DigitalDesign {
    background-color: black;
    color: white;
    border-radius: 13px;
    font-size: 15px;
    padding: 2px 5px ;
    margin-right: 10px;
}
.year2023 {
    background-color: black;
    color: white;
    width: 50px;
    border-radius: 13px;
    font-size: 15px;
    padding: 2px 2px ;
} 

/* RobotHand image section and container */
#robothandimg {
    height: 70%;
    width: 100%;
    overflow: hidden;
}

#robohandimg {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


/* Container specification of Robot */
#RobotContainer{
    height: 35%;
    width: 100%;
    display: flex;
    background-color: azure;
    margin-top: 20px;
}
#RobotDivLeft{
    height: 100%;
    width: 75%;
    display: flex;
    font-size: 70px;
    align-items: center;
    padding-left: 100px;
}
#RobotDivRight {
    height:100% ;
    width: 55%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
#RobotDivRight2 {
    margin-top: 20px;
    display: flex;
}
#RobotRight1 h3 {
    opacity: 0.6;
    font-size: 25px;
}
#DigitalDesign {
    background-color: black;
    color: white;
    border-radius: 13px;
    font-size: 15px;
    padding: 2px 5px ;
    margin-right: 10px;
    margin-top: 15px;
}
#year2023 {
    background-color: black;
    color: white;
    width: 50px;
    border-radius: 13px;
    font-size: 15px;
    padding: 2px 2px ;
    margin-top: 15px;
} 


/* Grid container */
/* .Grd_Container{
    margin-top: 50px;
    height: 850px;
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 10px;
    background-color: pink;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#div1 {
    grid-row: 1/ 3;
    background-color: red;
    border-right: 3px solid black;
    display:flex;   
    justify-content: space-between;
    font-size: 20px; 
    padding: 10px;
}
h1 +  i {
    font-size: 50px;
}
#div2 {
    grid-column: 2;
    background-color: blueviolet;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
}

#div3 {
    grid-column: 3;
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
}
#div4 {
    grid-column: 2;
    background-color: chartreuse;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
}
#div5 {
    grid-column: 3;
    background-color: darkgoldenrod;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: center;
    padding-bottom: 20px;
    box-shadow: 2px 2px 8px black;
}


 */
 h2 , p {
    margin: 20px;
}
h2 {
    font-weight: 900;
}
h2 + p {
    font-weight: 600;
    opacity: 0.8;
}
